<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background: url('https://example.com/background-image.jpg') center center fixed;
            background-size: cover;
        }

        .container {
            background: rgba(255, 255, 255, 0.8);
            width: 50%;
            margin: auto;
            padding: 20px;
            border-radius: 10px;
            margin-top: 50px;
        }
    </style>
</head>
<body>
<div class="container">
    {% if 'username' in session and (session['role'] == 'employer' or session['role'] == 'admin' )%}
    <h1 class="mb-4">Add Product</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Product</button>
        
    </form>
</br>
    <div>
        <a href="{{ url_for('show_products') }}"><button class="btn btn-primary" >Show All Products</button></a>
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
    </div>
    {% else %}
        <p>Access denied. You do not have permission to post jobs.</p>
        <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
{% endif %}
</div>

<!-- Bootstrap JS and dependencies (optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
